
  <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand"> <img src="../favicon.ico" style="height:1cm; margin-left:10px;"> </a>
    <a class="navbar-brand" [routerLink]="['']"> Romanian Script Decypher </a>
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" [routerLink]="['upload']"> Upload File</a></li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link"> Login </a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  <footer class="mt-5 py-3 bg-light fixed-bottom">
    <div class="container text-center">
      <p> Advanced Software Engineering Techniques 2023-2024</p>
    </div>
  </footer>

