<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Decyphered Script</h5>
      <div class="row">
        <div class="col-md-6">
          <div>
            <strong>Title:</strong>
            <p>{{ manuscript?.title }}</p>
          </div>

          <div>
            <strong>Author:</strong>
            <p>{{ manuscript?.author }}</p>
          </div>

          <div>
            <strong>Year:</strong>
            <p>{{ manuscript?.yearOfPublication }}</p>
          </div>

          <div>
            <strong>Description:</strong>
            <p>{{ manuscript?.description }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <strong>Translation:</strong>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
              quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
              aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
              eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
              est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
              velit, sed quia non numquam eius modi tempora incidunt ut labore
              et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
              veniam, quis nostrum exercitationem ullam corporis suscipit
              laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
              vel eum iure reprehenderit qui in ea voluptate velit esse quam
              nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
              voluptas nulla pariatur?
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-1"></div>
        <div class="col col-md-2">
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="downloadManuscript()"
          >
            Download original
          </button>
        </div>
        <div class="col col-md-1">
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="deleteManuscript()"
          >
            Delete
          </button>
        </div>
        <div class="col col-md-4"></div>
        <div class="col col-md-2">
          <button type="button" class="btn btn-outline-primary">
            Download decipher
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
