<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Decyphered Script</h5>
      <div class="row">
        <div class="col-md-6">
          <div>
            <strong>Title:</strong>
            <p>{{ manuscript?.title }}</p>
          </div>

          <div>
            <strong>Author:</strong>
            <p>{{ manuscript?.author }}</p>
          </div>

          <div>
            <strong>Year:</strong>
            <p>{{ manuscript?.yearOfPublication }}</p>
          </div>

          <div>
            <strong>Description:</strong>
            <p>{{ manuscript?.description }}</p>
          </div>
        </div>

        <div class="col col-md-6" *ngIf="currentJob == 'none' ">
          
              <h3>Select a job first !</h3>
          
        </div>
        
       
        <div class="col col-md-6" *ngIf="currentJob == 'OCR'">
          
            <div>
              <strong>OCR :</strong>
              <div *ngIf="OCR == ''; else OcrText">
                <h3>The document is still processing, please wait!</h3>
              </div>
              <ng-template #OcrText>
                <p>
                  {{ OCR }}
                </p>
              </ng-template>
            </div>
          
        </div>


        <div class="col col-md-6" *ngIf="currentJob == 'NLP'">
          
            <div>
              <strong>NLP :</strong>
              <div *ngIf="NLP == ''; else NlpText">
                <h3>The document is still processing, please wait!</h3>
              </div>
              <ng-template #NlpText>
                <p>
                  {{ NLP }}
                </p>
              </ng-template>
            </div>
          
        </div>
      </div>


      <div class="row">
        <div class="col col-md-1"></div>
        <div class="col col-md-2">
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="downloadManuscript()"
          >
            Download original
          </button>
        </div>
        <div class="col col-md-1">
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="deleteManuscript()"
          >
            Delete
          </button>
        </div>
        <div class="col col-md-3"></div>
        <div class="col col-md-1">
          <button type="button" class="btn btn-outline-success" (click)="getOcr()" [disabled]="currentJob==='NLP'">
            OCR
          </button>
        </div>
        <div class="col col-md-1">
          <button type="button" class="btn btn-outline-success" (click)="getNlp()" [disabled]="currentJob==='OCR'">
            NLP
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
