/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    background-image: url('background1.jpg'); /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 1; /* Adjust the opacity as needed (0.8 for 80% transparent in this example) */
  }