<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Annotation Project</title>
    <script src="../javascript/image_processing.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/image_processing.css" />
  </head>
  <body>
    <h1 style="text-align: center">Manuscript Processing Page</h1>
    <div class="main-container">
      <!-- Left Side: Display Random Image -->
      <div class="left-panel" id="left-panel">
        <div id="image-container"></div>
      </div>
      <!-- Right Side: Metadata Form -->
      <div class="right-panel">
        <h2>Image Metadata</h2>
        <textarea
          id="text-input"
          placeholder="Enter your text here..."
        ></textarea>
        <div class="button-container">
          <button id="saveButton" onclick="showPopup() ">Save</button>
          <button id="clearButton" onclick="clearTextArea()">Clear</button>
        </div>

        <div class="popup" id="savingPopup">
          <p>Do you want to save changes?</p>
          <button onclick="saveChanges()">Save</button>
          <button onclick="closePopup('savingPopup')">Cancel</button>
        </div>

        <div id="successPopup" class="popup">
          <p>Data saved successfully!</p>
          <button onclick="closePopup('successPopup')">OK</button>
        </div>

        <div id="failurePopup" class="popup" ">
          <p>Failed to save data.</p>
          <button onclick="closePopup('failurePopup')">OK</button>
        </div>
      </div>
    </div>
  </body>
</html>
